{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="center-line">
      <img src="/static/images/resources.png" alt="Icono">
      <span class="ml-2 fs-5">Monitor de Recursos</span>
    </div>
</div>
<div class="container mt-3">
    <h5>Hypervisor</h5>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">CPU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1">RAM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Disk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu3">Graph</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="container tab-pane active"><br>
        <span>CPU 0</span> 
        <span class="mt-3">
            <div class="progress">
              <div class="progress-bar bg-danger" style="width:12%">12%</div>
            </div>
        </span>
        <br>
        <span>CPU 1</span>
        <span class="mt-3">
            <div class="progress"> 
              <div class="progress-bar bg-danger" style="width:9%">9%</div>
            </div>
        </span>
        <br>
        <span>CPU 2</span>
        <span class="mt-3">
            <div class="progress">
              <div class="progress-bar bg-danger" style="width:3%">3%</div>
            </div>
        </span>
        <br>
        <span>CPU 3</span>
        <span class="mt-3">
            <div class="progress">
              <div class="progress-bar bg-danger" style="width:5%">5%</div>
            </div>
        </span>
        <br>
      </div>
      <div id="menu1" class="container tab-pane fade"><br>
        <span>Memory used:</span> <br>
        <p>68 of 768 MB</p> <br>
        <span class="mt-3">
            <div class="progress"> 
              <div class="progress-bar" style="width:9%">9%</div>
            </div>
        </span>
      </div>
      <div id="menu2" class="container tab-pane fade"><br>
        <span>Size HD used:</span> <br>
        <!-- <p>4 of 10GB</p> <br> -->
        <p>Total: 10GB</p> <br>
        <p>Used: 4GB</p> <br>
        <span class="mt-3">
            <div class="progress"> 
              <div class="progress-bar" style="width:41%">41%</div>
            </div>
        </span>
      </div>
    </div>
  </div>
{% endblock content %}