<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}        
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/images/favicon.svg') }}" type="image/x-icon">
    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
    {% endblock styles %}

    <title>Qubik | {% block title %} {% endblock title %} </title>
{% endblock head %}
</head>
<body class="position-relative">
    {% if current_user.is_anonymous %}
    <!-- <a href="{{ url_for('show_signin_form') }}">Login</a> -->
    {% else %}
        <header class="d-flex justify-content-between align-items-center mx-3 mt-3">
            <div class="ml-1">
                <img src="/static/images/logo.svg" alt="" srcset="">
            </div>
            <div class="mr-1 text-center">
                <img src="/static/images/avatar.png" alt="" width="60">
                <div class="username">{{ current_user.name }}</div>
            </div>
        </header>
        <hr>
        <nav>
            <a href="{{ url_for('index') }}">Main Panel</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
        {% endif %}
    <!-- Page content -->
    {% block content %} {% endblock content %}
    
    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>