{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="container mt-3">
        <div class="center-line">
          <img src="{{ url_for('static', filename='images/monitor.png') }}" alt="Icono">
          <span class="ml-2 fs-5">Your Virtual Machines: {{numbers}}</span>
        </div>
        <ol>
            {% for vm in virtual_machines %}
                <li>{{vm}}</li>
            {% endfor %}
        </ol>
    </div>

{% endblock content %}